.tile {
  width:30px;
  height: 30px;
  background: #ddd;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  text-align: center;
  border-style: outset;
}

.revealed {
  background: #eee;
  border-style: inset;
}

.grid-row {
  list-style: none;
  padding: 0px;
  display: flex;
  margin: 0px;
  width: 300px;
}
